{% extends "base.html" %}
{% load custom_filters %}

{% block title %} Classroom {{ classroom.classroomID }} {% endblock %}

{% block content %} 

<div> Classroom {{ classroom.className }} with class code {{ classroom.classroomCode }}</div>
<div>Start Date: {{ classroom.startDate }}</div>
<div>End Date: {{ classroom.endDate }}</div>
<div>Using Default Roadmap </div>
<div>Instructor Name: {{ classroom.instructorName }}</div>

{% if request.user|is_instructor %}
<a href="{% url 'classroom_settings' id=classroom.classroomID %}">Classroom Settings</a>
{% endif %}
{% endblock %}