{% extends "base.html" %}

{% block title %}Confirm Join Classroom{% endblock %}

{% block content %}
<h1>Confirm Classroom</h1>
<p>Is this your correct instructor?</p>
<div>
    <h2>{{ classroom.instructorName }}</h2>
    <h2>{{ classroom.className }}</h2>
 </div>

<form method="post" action="{% url 'join_classroom' %}">
    {% csrf_token %}
    {{ form.as_p }} 
    <button type="submit" class="btn-yes">Yes, this is correct</button>
</form>

<a href="{% url 'join_classroom' %}" class="btn-no">No, try again</a>
{% endblock %}
