{% extends "base.html" %}
{% block title %} Create Instructor {% endblock %}

{% block content %}
 
<div class="logic-lingo-create-account-instructor">
  <div class="title-create-instructor">Create Instructor</div>
  <form method="post" class="form-create-instructor">
    {% csrf_token %}

    <div class="input-field-create-instructor-first-name">
      <label for="first_name" class="label-first-name">First Name</label>
      <div class="input-first-name">
        <input type="text" id="first_name" name="first_name" placeholder="First Name" required>
      </div>
    </div>

    <div class="input-field-create-instructor-last-name">
      <label for="last_name" class="label-last-name">Last Name</label>
      <div class="input-last-name">
        <input type="text" id="last_name" name="last_name" placeholder="Last Name" required>
      </div>
    </div>

    <div class="input-field-create-instructor-email">
      <label for="email" class="label-email">Email</label>
      <div class="input-email">
        <input type="email" id="email" name="email" placeholder="Email" required>
      </div>
    </div>

    <div class="input-field-create-instructor-username">
      <label for="username" class="label-username">Username</label>
      <div class="input-username">
        <input type="text" id="username" name="username" placeholder="Username" required>
      </div>
    </div>

    <div class="input-field-create-instructor-password">
      <label for="password" class="label-password">Password</label>
      <div class="input-password">
        <input type="password" id="password" name="password" placeholder="Password" required>
      </div>
    </div>

    <div class="input-field-create-instructor-department">
      <label for="department" class="label-department">Department</label>
      <div class="input-department">
        <input type="text" id="department" name="department" placeholder="Department" required>
      </div>
    </div>

    <div class="button-submit">
      <button type="submit" class="button">Submit</button>
    </div>
  </form>
</div>

{% endblock %}
