{% extends "base.html" %}
{% load custom_filters %}

{% block title %} Exercise {{ exercise.exerciseID }} {% endblock %}

{% block content %} 

<div>Exercise Name: {{ exercise.exerciseName}} </div>
<div>Exercise Description: {{ exercise.exerciseDescription }}</div>

<div class="questions">
    <h3>Questions</h3>
    {% if exercise.questions.all %}
        <ul class="question-list">
            {% for question in exercise.questions.all %}
                <li>
                    <a href="{% url 'question' classroomID=classroomID topicID=topicID exerciseID=exercise.exerciseID questionID=question.questionID%}">
                        {{ question.questionPrompt }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>This exercise doesn't have any questions yet.</p>
    {% endif %}
</div>

{% if request.user|is_instructor %}
<a href="{% url 'add_existing_questions' classroomID=classroomID topicID=topicID exerciseID=exercise.exerciseID %}" class="btn btn-success">Add Existing Questions</a>
<a href="{% url 'create_question' classroomID=classroomID topicID=topicID exerciseID=exercise.exerciseID %}" class="btn btn-primary" role="button">Create New Question</a>
<a href="{% url 'modify_exercise' classroomID=classroomID topicID=topicID exerciseID=exercise.exerciseID %}" class="btn btn-info" role="button">Edit</a>
{% endif %}
<a href="{% url 'topic' classroomID=classroomID topicID=topicID %}" class="btn btn-light" role="button">Cancel</a>
{% endblock content %} 