{% extends "base.html" %}
{% block title %} Instructor {{ instructor.userID }} {% endblock %}

{% block content %} 

<div> Logged in as {{ instructor.firstName }} {{ instructor.lastName }}</div>
<div>Instructor Statistics</div>
<div>Department: {{ instructor.department }}</div>
<div>Employment Status: {{ instructor.employed }}</div>

<div class="my-classrooms">
    <h3>My Classrooms</h3>
    {% if instructor.classrooms.all %}
        <ul class="classroom-list">
            {% for classroom in instructor.classrooms.all %}
                <li>
                    <a href="{% url 'classroom' id=classroom.classroomID %}">
                        {{ classroom.className }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You don't have any classrooms yet.</p>
    {% endif %}
</div>

<a href="{% url 'join_classroom' %}" class="btn btn-info" role="button">Join Classroom</a>
<a href="{% url 'create_classroom' %}" class="btn btn-info" role="button">Create Classroom</a>

{% endblock %}