{% extends "base.html" %}
{% load custom_filters %}

{% block title %} Question {{ question.questionID }} {% endblock %}

{% block content %} 
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Question</h2>  {% comment %} add the question number after once that is coded in {% endcomment %}
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Prompt</h5>
            <p class="card-text">{{ question.questionPrompt }}</p>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Type</h5>
            <p class="card-text">{{ question.get_questionType_display }}</p>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Correct Answer</h5>
            <p class="card-text">{{ question.correctAnswer }}</p>
        </div>
    </div>
    <div class="btn-group">
        <a href="{% url 'modify_question' classroomID=classroomID topicID=topicID exerciseID=exerciseID questionID=question.questionID %}" class="btn btn-primary">
            <i class="fas fa-trash"></i> Edit Question
        </a>
        <a href="{% url 'delete_question' classroomID=classroomID topicID=topicID exerciseID=exerciseID questionID=question.questionID %}" class="btn btn-danger">
            <i class="fas fa-trash"></i> Delete Question
        </a>
    </div>
    <a href="{% url 'exercise' classroomID=classroomID topicID=topicID exerciseID=exerciseID %}" class="btn btn-light" role="button">Back to Exercise</a>
</div>
{% endblock content %} 
