{% extends "base.html" %}
{% load custom_filters %}

{% block title %} Question {{ question.questionID }} {% endblock %}

{% block content %} 
<div class="container mt-4">
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Question Type: {{ question.get_questionType_display}}</h5>
            <p class="card-text">{{ question.questionPrompt}}</p>
        </div>
    </div>

    {% if not answer_result %}
        <form method="POST" class="mb-4">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Submit Answer</button>
        </form>
        <a href="{% url 'quit_exercise' classroomID=classroomID topicID=topicID exerciseID=exerciseID questionID=question.questionID%}" class="btn btn-danger" role="button">Quit Exercise</a>
    {% else %}
        <div class="alert {% if answer_result == 'correct' %}alert-success{% else %}alert-danger{% endif %} mb-4">
            Your answer was {{ answer_result }}!
        </div>
        <a href="{% url 'next_question' classroomID=classroomID topicID=topicID exerciseID=exerciseID questionID=question.questionID %}" class="btn btn-success">Go to Next Question</a>
    {% endif %}

    
</div>
{% endblock content %} 
