{% extends "base.html" %}
{% block title %} Student {{ student.userID }} {% endblock %}

{% block content %} 
<div> Logged in as {{ student.firstName }} {{ student.lastName }}</div>
<div>Student Statistics</div>
<div>Number of Exercises Completed: {{ student.numExercisesCompleted }}</div>
<div>Number of Hours Spent: {{ student.numHoursSpent }}</div>
<div>Number of Days Streak: {{ student.daysStreak }}</div>
<div>Have Streak Today?: {{ student.streakToday }}</div>

<div class="enrolled-classrooms">
    <h3>Enrolled Classrooms</h3>
    {% if student.classrooms.all %}
        <ul class="classroom-list">
            {% for classroom in student.classrooms.all %}
                <li>
                    <a href="{% url 'classroom' id=classroom.classroomID %}">
                        {{ classroom.className }} ({{ classroom.instructorLastName }})
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Not enrolled in any classrooms yet.</p>
    {% endif %}
</div>

<a href="{% url 'join_classroom' student_id=student.userID %}" class="join-classroom-btn">Join a Classroom</a>
{% endblock %}